<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onSiteSave" fire="\QUI\Permalinks\Permalink::onSave" />
    <event on="onSiteSaveBefore" fire="\QUI\Permalinks\Permalink::onSiteSaveBefore" />
    <event on="onSiteLoad" fire="\QUI\Permalinks\Permalink::onSiteLoad" />
    <event on="onRequest" fire="\QUI\Permalinks\Permalink::onRequest" />
    <event on="onUrlRewritten" fire="\QUI\Permalinks\Permalink::onUrlRewritten" />
</events>